.X-parent-span{
    background-color: #F4F4F5;
    border-radius: .5rem;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.userSelectedCloseModal{
    background-color: #F4F4F5;
    border-radius: .5rem;
    position: fixed;
    top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.X-parent-span, .userSelectedCloseModal:hover{
    background-color: #E4E4E7;
}

.X-parent-span, .userSelectedCloseModal:active{
    border: 1px solid #94A3B8;
}



.X-icon{
    height: 1rem;
}