.parrallel-route-sign-in-parent-div{
    background-color: rgba(203, 205, 207, 0.3); /* 30% opacity */    height: 100%;
    width: 100%;
    height: 100%;
    /* z-index: 50; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

.buffer-div-parrelel-route{
    height: 5.5rem;
    /* width: 100%; */
}

.parrallel-route-sign-in-child-div{
    width: 25rem;
    height: 23rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.close-parrellel-route{
    display: flex;
    /* align-items: flex-end; */
    align-self: flex-end;
    position: relative;
}