.userChatCard{
    display: flex;
    height: 4.5rem;
    /* background-color: red; */
    border-bottom: 1px solid #e0e0e0; 
    background-color: #f9f9f9;   
    /* padding: .6rem */
}

.userChatCardchildDiv{
    /* border: red; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: aqua; */
    flex: 1;
    margin: .6rem 2.5rem
}

.userCardImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.3rem;
    /* background-color: red; */
    border-radius: 50%;
}

.userCardImageImgField{
  width: 100%;
    height: 100%;
    /* object-fit: cover; */
    object-fit: contain;
    border-radius: 50%;
    position: relative;
}

.userCardNameEmail{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;    
    /* font-weight: 500; */
    /* font-weight:bold; */
  
}

.userCardNameEmail > div{
    position: relative;
    left: .5rem;
    top: .5rem
}

.userCardNameEmail > div:nth-child(1){
    font-weight: bold;
}

.userCardNameEmail > div:nth-child(2){
    font-weight: medium;
}